<div>
    <section class="bullets" du-parallax y="imageParallax" >
        <div ng-repeat = "bullet in bullets" du-parallax y="bulletParallax">
            <h2 class="bullet fa fa-check-circle"   translate>{{bullet.bulletText}} </h2>

        </div>
    </section>
    <section class="videoArea" >
        <div class="prompt-down"></div>
        <div style ='float: left;margin-left: auto;margin-right: auto;'>
            <div class = 'localeFloatingElement goodiesContainer'>
                <h3 style="text-align:center">{{'msg_whyMatific' | translate}}</h3>
                <three-js-frame></three-js-frame>
               <!-- <div ng-repeat="goody in goodies">
                    <matific-goody goody="goody"></matific-goody>
                 </div>-->
            </div>
            <div class = 'localeFloatingElement' style="width:330px;float:left">
                <section class = 'videosWrapper'>
                    <matific-goody-video></matific-goody-video>
                </section>
            </div>
        </div>
    </section>
</div>
