<div class='container-fluid goody-container' ng-mouseenter="goodyMouseOver()" ng-mouseleave="goodyMouseOut()" ng-style="{'background-color':goody.goodyColor}" ng-class="onGoodyHover">
    <div class='row'>
        <div class="col-md-3 goody-icon localeFloatingElement" ng-class="goody.goodyIcon"></div>
        <div class="col-md-9">
            <div class="panel-heading">
                <h3 class="panel-title goodyTitle" translate>{{goody.goodyTitle}}</h3>
            </div>
            <div class="panel-body" translate>
                {{goody.goodyText}}
            </div>
        </div>
    </div>
</div>


