<!--<section class="videosSection">-->
    <div class="panel panel-default">
        <div class="panel-body">
        <div  class="animate-enter1"  ng-repeat="video in videos | orderBy:'rank'">
            <div class="panel panel-default video-container">
                <div class="panel-body" ng-style="{'background-position':video.goodyVideoBackgroundPosition}"><div class ='videoIcon' ng-class="video.goodyIcon"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
<!--</section>-->
